<!DOCTYPE html>
<html>
<head>
	<title>L'onglet de boeuf</title>
	<link rel="javascript" href="main.js">
</head>
<body>

<div class="bloc">
	<div class="title">
		L'onglet de boeuf
		<div class="tabs" id="tabs1">
			<a href="#contenu1">Présentation</a>
			<a href="#contenu2">Menu</a>
			<a href="#contenu3">Réservation</a>
		</div>
	</div> 
	<div class="content">
		<div>
			<div id="contenu1">
				<h1>Présentation</h1>
				<p>Le seul restaurant qui possède 4 étoiles au guide Michelin. Vous savez là, ceux qui fabriquent des pneus et qui notent des restaurants avec un mec obèse en guise de mascotte...</p>
			</div>
			<div id="contenu2">
				<h1>Menu</h1>
				<p>Pas de panique les amis ! Tout est bon chez nous, sauf le cochon.</p>
			</div>
			<div id="contenu3">
				<h1>Réservation</h1>
				<p>Nous prenons les réservations 3 ans à l'avance. Donc t'as intérêt à bien choisir la meuf que t'invites bro !</p>
			</div>
		</div>
	</div>
</div>

</body>
</html>